<% content_for(:title, '相談一覧ページ') %>
  <%= render 'search_form', q: @q, url: boards_path %>
  
  <%= link_to "投稿する", new_board_path %>
  
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
         <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
