<% content_for(:title, '相談一覧ページ') %>

<div class="container">
  <div class="row py-5">
    <div class="col-8">
    <%= render 'search_form', q: @q, url: boards_path %>
      <div class="text-center">
        <%= link_to "掲示板に投稿する", new_board_path, class:'btn btn-primary' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
         <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
