<% content_for(:title, '一覧ページ') %>

<div class="container">
  <div class="row">
     <div class="col-10">
       <%= render 'search_photo', q: @q, url: photos_path %>

       <% @tag_list.each do |list| %>
         <i class="fa-sharp fa-solid fa-tag">
          <%= link_to list.tag_name, search_path(tag_id: list.id) %>
          <%= "(#{list.photos.count})" %>
         </i>
       <% end %>
     </div>
  </div>
</div>

 <%= render 'list', photos: @photos %>