<% content_for(:title, 'about') %>

<div class="container-fluid bg02">
  <div class="row">
    <div class="col-sm-6 offset-sm-6 p-5 top-main">
      <div class="text-center">
        <h1 class="h1">ようこそ,ねこLOVEさん</h1>
          <p class="p">このサイトでは気になる🐈情報を知ることができたり</p>
          <p class="p">可愛いあんな姿やこんな姿を移したベストショットに癒されたりと</p>
          <p class="p">猫満載な情報サイトです</p>
          <p class="p">どんな方でもお気軽にぜひ覗いていってみてください</p>
      </div>
    </div>
  </div>
</div>
