<% content_for(:title, 'ねこのあしあとTOPページ') %>

<div class="container-fluid my-5 bg01">
  <div class="row py-5">
    <div class="col-sm-6 offset-sm-6 p-5 top-main">
      <h1 class="py-3 h1"><strong>ねこにいやされてみませんか？</strong></h1>
    </div>
  </div>
</div>