<% content_for(:title, 'ねこのあしあとTOPページ') %>
<div class="container-fluid my-5">
    <%= image_tag 'SnekoDSC03510_TP_V.jpg' %>
    <div class="row py-5">
        <div class="col-sm-6 offset-sm-6 p-5">
            <h3 class="py-3">ねこに癒されてみませんか？</h3>
              <a class="btn btn-outline-secondary" href="#" role="button"><span class="bi bi-door-closed"></span> サイト一覧へ</a>
        </div>
    </div>
</div>