<div class="cover align-middle">
  <div class="text-center">
   <h1>ようこそ猫好きさん</h1>
    <p>このサイトでは気になる🐈情報を知ることができたり</p>
    <p>可愛いあんな姿やこんな姿を移したベストショットに癒されたりと</p>
    <p>猫満載な情報サイトです</p>
    <p>どんな方でもお気軽にぜひ覗いていってみてください</p>
  </div>
 </div>