@font-face{
    font-family: 'RiiMonakaBLt';
  src: url('../fonts/riimnkt/RiiMonakaBLt.otf') format("opentype");
}

.h1 {
  text-align: center;
  font-family: 'RiiMonakaBLt';
  color: #FFBBFF;
}

.p {
  font-size: 20px;
  text-align: center;
  color: #64F9C1;
}

.bg02 {
  width: 100%;
  height: 100vh;
  background-image: url('/bg/tomneko1215A1321_TP_V4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
