
@font-face{
    font-family: 'RiiMonakaBLt';
  src: url('../fonts/riimnkt/RiiMonakaBLt.otf') format("opentype");
}


.h3 {
  text-align: right;
  font-family: 'RiiMonakaBLt';
  color: #AAFFFF;
}



.bg01 {
  background-image: url('/bg/tomneko1215A1321_TP_V4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
}

