<div class="container mt-5">
<h1>全ユーザー一覧</h1>
  <table>
  <ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> - <%= user.email %>
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' },class: "btn btn-sm btn-danger" %>
    </li>
  <% end %>
  </table>
  </ul>
</div>